@use "colors";
@import url("https://rsms.me/inter/inter.css");

:root {
	--text-opsz: 16;
}

html,
body {
	font: {
		family: "Segoe UI Variable Display", "Segoe UI", "Inter var", sans-serif;
		variation-settings: "opsz" var(--text-opsz);
		optical-sizing: auto;
	}
	position: relative;
	overflow-x: hidden;
	box-sizing: border-box;
	width: 100%;
	height: 100%;

	margin: 0;
	color: colors.$light-text-primary;
	outline: none;
	background: colors.$light-background-primary;
}

:focus-visible { box-shadow: 0 0 0 2px colors.$light-text-primary !important }